<!DOCTYPE html>
<html>
<head>
    <title>Book Form</title>
</head>
<body>

<h1>{{ book|default:"Create Book" }}</h1>

<form method="post">
    {% csrf_token %}

    <label>Title:</label>
    <input type="text" name="title" value="{{ book.title|default:'' }}"><br><br>

    <label>Author:</label>
    <input type="text" name="author" value="{{ book.author|default:'' }}"><br><br>

    <label>Publication Year:</label>
    <input type="number" name="publication_year" value="{{ book.publication_year|default:'' }}"><br><br>

    <button type="submit">Save</button>
</form>

<a href="{% url 'book_list' %}">Back to list</a>

</body>
</html>
